<form  action="/login" method="POST">
  <label>email</label>
  <input type="text" name="username"></input>
  <br>
  <label>password</label>
  <input type="password" name="password"></input>
  <br>
  <input type="submit" value="Log In"></input>
</form>